<form ng-submit="$ctrl.postData($ctrl.addItem);">
<input type="text" placeholder="Product" ng-model="$ctrl.addItem.product">
<input type="text" placeholder="Price" ng-model="$ctrl.addItem.price">
<input type="text" placeholder="Quantity" ng-model="$ctrl.addItem.quantity">
<button class = "Submit">Add New Item to Cart</button>
</form>

<section ng-repeat="item in $ctrl.items">
 <input class="edit__input" type="text" ng-blur="$ctrl.updateData(item);"
 ng-model="item.product">
 <input class="edit__input" type="text" ng-blur="$ctrl.updateData(item);"
 ng-model="item.price">
 <input class="edit__input" type="text" ng-blur="$ctrl.updateData(item);"
 ng-model="item.quantity">
 <button ng-click="$ctrl.deleteData(item.id);">X</button>
</section>
